<div id="<%= dom_id country %>">
  <p>
    <strong>Name:</strong>
    <%= country.name %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= country.short_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= country.description %>
  </p>

</div>
